/*my styles*/

#map {
  height: 50vh;
  width: 100%;
  margin-bottom: 60px;
}

/*MAIN STYLES*/

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "rift", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

/*HEADER STYLES*/

.bg-transparent {
  background-color: transparent;
}

.menu-icon {
  border: none;
}

/*TRAIL LIST STYLES*/

.trail-list {
  padding: 0;
  list-style-type: none;
}

.walk-link {
  height: 200px;
}

.walk-link-border {
  background-color: transparent;
  border: 5px solid white;
  position: relative;
  height: 180px;
  top: 10px;
  margin: 0 10px;
}

.walk-link-title {
  color: white;
  text-align: center;
  height: 170px;
  line-height: 170px;
}

.barhopping {
  background: linear-gradient(to right bottom, rgba(74, 144, 226, 0.5), rgba(74, 144, 226, 0.5)), url(../assets/images/barhopping.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.flora-and-fauna {
  background: linear-gradient(to right bottom, rgba(208, 2, 27, 0.5), rgba(208, 2, 27, 0.5)), url(../assets/images/flora-and-fauna.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.food-and-finesse {
  background: linear-gradient(to right bottom, rgba(245, 166, 35, 0.5), rgba(245, 166, 35, 0.5)), url(../assets/images/food-and-finesse.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.grafitti {
  background: linear-gradient(to right bottom, rgba(144, 19, 254, 0.5), rgba(144, 19, 254, 0.5)), url(../assets/images/grafitti.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.bucketlist {
  background: linear-gradient(to right bottom, rgba(65, 117, 5, 0.5), rgba(65, 117, 5, 0.5)), url(../assets/images/bucketlist.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/*TRAIL DETAIL STYLES*/

.back-link-area {
  height: 80px;
}

.back-link {
  border: 3px solid white;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  background-color: #4990E2;
  position: relative;
  top: 15px;
  left: 15px;
}

.start-trail-link-area {
  height: 20vh;
}

.start-trail-link {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
}

.start-trail-link-div {
  width: 80%;
  height: 50px;
  background-color: #4990E2;
  position: relative;
  border-radius: 100px;
  border: 3px solid white;
  left: 10%;
}

.start-trail-link-p {
  line-height: 44px;
  height: 44px;
}

.trail-hero {
  position: relative;
  height: 70vh;
  margin-bottom: 1rem;
}

.trail-hero-title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.trail-hero-title-h1 {
  border-bottom: 3px solid white;
  border-top: 3px solid white;
  line-height: 55px;
  display: inline-block;
}

.trail-hero-elements {
  position: absolute;
  bottom: 25px;
  left: 0;
  height: 75px;
  background-color:
  transparent;
  width: 100%;
}

.trail-hero-elements-row {
  padding: 0 15px;
}

.trail-hero-elements-top {
  width: 50px;
  height: 50px;
  border: 3px solid white;
  border-radius: 100px;
  display: inline-block;
  margin-bottom: .5rem;
}

.trail-hero-elements-in {
  height: 44px;
  line-height: 44px;
}

/*TRAIL STYLES*/

.instructions-container {
  background-color: #484C4E;
  padding-top: 50px;
  padding-bottom: 40px;
  margin-bottom: 24px;
  position: relative;
}

.instructions-icon {
  height: 60px;
  width: 60px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.panel h2 {
  text-align: center;
}

.tab-panels {
  margin-bottom: 44px;
}

.buttons {
  margin-bottom: 44px;
}

.next-btn {
  border-radius: 100px;
  width: 250px;
  height: 50px;
  border: 3px solid white;
  background-color: #4990E2;
}

.previous-btn {
  border: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
}

.complete-btn {
  border-radius: 100px;
  width: 250px;
  height: 50px;
  border: 3px solid white;
  background-color: #4990E2;
  display: inline-block;
  line-height: 44px;
  color: white;
}


.trail-slide {
  width: 100%;
}
